aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alibabacloud-credentials==1.0.8
alibabacloud-credentials-api==1.0.0
alibabacloud-dingtalk==2.2.44
alibabacloud-openapi-util==0.2.4
alibabacloud-tea==0.4.3
alibabacloud-tea-openapi==0.4.4
alibabacloud-tea-util==0.3.14
alibabacloud_endpoint_util==0.0.4
alibabacloud_gateway_dingtalk==1.0.2
alibabacloud_gateway_spi==0.0.3
amqp==5.3.1
APScheduler==3.11.2
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==46.0.7
darabonba-core==1.0.5
Django==5.2.12
django-celery-beat==2.9.0
django-cors-headers==4.9.0
django-filter==25.2
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
frozenlist==1.8.0
gunicorn==25.3.0
idna==3.11
inflection==0.5.1
kombu==5.6.2
multidict==6.7.1
mysqlclient==2.1.1
packaging==24.2
pillow==12.2.0
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
pycparser==3.0
PyJWT==1.7.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
redis==7.4.0
requests==2.33.1
setuptools==80.10.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
wheel==0.46.3
yarl==1.23.0
